.button-margins {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.no-left-margin {
    margin-left: 0;
}

.margin-bottom-big {
    margin-bottom: 15px;
}

.margin-bottom-medium {
    margin-bottom: 10px;
}

.no-padding {
    padding: 0;
}